/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/1
/public/2
/public/3
/public/4
/public/5
/public/budgets
/public/CR14
/public/plans
/public/pop
/public/proof
/public/returns
/public/tenders
