.badge-counter{
    position: absolute
}
.dropdown-header {
    background-color: #4e73df;
    border: 1px solid #4e73df;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
}
.img_size{
    width: 100px;
    height: 100px;
}
body{
    background-color: #fff !important;
}

.bg-sidebar{
    background-color: #fff ;

}
.nav-login{
    background-color: green !important;
    color: white !important;
}
.nav-login a:hover{
    background-color: yellowgreen !important;
}

.bg-topnav{
    background-color:#fff;
    color: #fff;
}
